<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Page title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap">
    <link rel="stylesheet" href="css/tailwind/tailwind.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-tailwind.png">
    <script src="js/main.js"></script>
  </head>
  <body class="antialiased bg-body text-body font-body">
    <div class=""> 
    
      <section>
        <div class="py-24 bg-blueGray-100 rounded-t-10xl">
          <div class="container px-4 mx-auto">
            <div class="flex flex-wrap -mx-4">
              <div class="w-full md:w-1/2 lg:w-2/5 px-4 mb-10 md:mb-0">
                <a class="block font-bold text-xl mb-14" href="#">
                  <img class="h-12" src="uinel-assets/logos/uinel-gray-black.svg" alt="">
                </a>
                <h2 class="text-6xl xl:text-8xl font-medium mb-8">Subscribe now</h2>
                <div class="mb-5">
                  <input class="w-full xl:w-auto mb-2 xl:mb-0 xl:mr-2 py-3 px-8 bg-blueGray-100 placeholder-gray-700 border-2 border-blue-500 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="email" placeholder="Enter you Email">
                  <button class="inline-block py-3 px-10 md:mx-auto w-full xl:w-auto text-xl leading-7 text-white font-medium tracking-tighter font-heading bg-purple-500 hover:bg-purple-600 focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50 rounded-xl" type="button">Let's go</button>
                </div>
                <p class="text-sm leading-9 text-gray-400">Fusce sodales vitae lorem vitae now tempus.</p>
              </div>
              <div class="w-full md:w-1/2 lg:w-3/5 px-4">
                <div class="flex flex-wrap -mx-4">
                  <div class="w-full sm:w-1/2 lg:w-1/4 px-4 mb-10 lg:mb-0">
                    <h3 class="font-medium text-xl mb-10">About Uinel</h3>
                    <ul>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">About us</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Stories</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Our people</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Founders</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Why Uinel</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">How we compare</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Website</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Idea</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Mission</a></li>
                      <li><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Newsroom</a></li>
                    </ul>
                  </div>
                  <div class="w-full sm:w-1/2 lg:w-1/4 px-4 mb-10 lg:mb-0">
                    <h3 class="font-medium text-xl mb-10">Product &amp; Tools</h3>
                    <ul>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Download Uinel</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Sign up free</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Pricing</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Features</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Google integrations</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Microsoft integrations</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Dropbox integrations</a></li>
                      <li><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Mobile App</a></li>
                    </ul>
                  </div>
                  <div class="w-full sm:w-1/2 lg:w-1/4 px-4 mb-10 md:mb-0">
                    <h3 class="font-medium text-xl mb-10">Community</h3>
                    <ul>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">UI Designers</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">UX Designers</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Graphic Designers</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Developers</a></li>
                      <li><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Events</a></li>
                    </ul>
                  </div>
                  <div class="w-full sm:w-1/2 lg:w-1/4 px-4">
                    <h3 class="font-medium text-xl mb-10">Support</h3>
                    <ul>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Your account</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Hire an experts</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Help center</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">For students</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Manage cookies</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">FAQ's</a></li>
                      <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Viedos on YT</a></li>
                      <li><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Contact</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white py-8">
          <div class="flex flex-wrap items-center justify-between">
            <div class="w-full md:w-auto px-4 mt-10 md:mt-0 order-last md:order-first">
              <p class="font-medium tracking-widest text-sm text-gray-400">© 2021 UINEL</p>
            </div>
            <div class="w-full md:w-auto px-4">
              <a class="inline-block mr-5" href="#">
                <img src="uinel-assets/images/footers/instagram.svg" alt="">
              </a>
              <a class="inline-block mr-5" href="#">
                <img src="uinel-assets/images/footers/facebook.svg" alt="">
              </a>
              <a class="inline-block" href="#">
                <img src="uinel-assets/images/footers/twitter.svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </section>
    
      <section class="py-24 2xl:py-44">
        <div class="container px-4 mx-auto">
          <div class="flex flex-wrap -mx-4 mb-16">
            <div class="w-full lg:w-3/6 px-4 mb-20 lg:mb-0">
              <div class="lg:flex mb-14 xl:mb-16">
                <div class="mr-16 mb-6">
                  <img src="uinel-assets/images/footers/avatar.png" alt="">
                </div>
                <div>
                  <div class="max-w-max py-5 px-12 mb-3 bg-white rounded-2xl shadow-4xl">
                    <h3 class="font-bold text-3xl leading-6">Chilo</h3>
                    <p class="leading-6">How many hours do u need?</p>
                  </div>
                  <div class="max-w-max flex pt-5 pb-4 px-8 ml-6 bg-white rounded-2xl shadow-4xl">
                    <div class="w-2 h-2 rounded-full bg-gray-200"></div>
                    <div class="mx-2 w-2 h-2 rounded-full bg-gray-200"></div>
                    <div class="relative -top-1 w-2 h-2 bg-blue-500 rounded-full"></div>
                  </div>
                </div>
              </div>
              <h2 class="max-w-md text-6xl xl:text-8xl font-medium font-heading mb-8 leading-tighter">Have any question? Don’t waste time! Send a message.</h2>
              <p class="text-xl text-darkBlueGray-400 mb-14 xl:mb-16">Fusce sodales vitae lorem vitae tempus.</p>
              <a class="inline-block py-5 px-10 text-xl leading-6 text-white font-medium tracking-tighter font-heading bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">Contact</a>
            </div>
            <div class="w-full lg:w-3/6 ml-auto px-4">
              <div class="flex flex-wrap -mx-4 mb-16">
                <div class="w-full md:w-auto px-4 mb-10 lg:mb-0">
                  <h3 class="font-medium text-xl mb-10">About Uinel</h3>
                  <ul>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">About us</a></li>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Stories</a></li>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Our people</a></li>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Founders</a></li>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Why Uinel</a></li>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">How we compare</a></li>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Website</a></li>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Idea</a></li>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Mission</a></li>
                    <li><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Newsroom</a></li>
                  </ul>
                </div>
                <div class="w-full md:w-auto mx-auto px-4 mb-10 lg:mb-0">
                  <h3 class="font-medium text-xl mb-10">Product &amp; Tools</h3>
                  <ul>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Download Uinel</a></li>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Sign up free</a></li>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Pricing</a></li>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Features</a></li>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Google integrations</a></li>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Microsoft integrations</a></li>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Dropbox integrations</a></li>
                    <li><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Mobile App</a></li>
                  </ul>
                </div>
                <div class="w-full md:w-auto ml-auto px-4">
                  <h3 class="font-medium text-xl mb-10">Support</h3>
                  <ul>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Your account</a></li>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Hire an experts</a></li>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Help center</a></li>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">For students</a></li>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Manage cookies</a></li>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">FAQ's</a></li>
                    <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Viedos on YT</a></li>
                    <li><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Contact</a></li>
                  </ul>
                </div>
              </div>
              <div class="flex justify-end">
                <a class="mr-16 inline-block font-heading text-darkBlueGray-300 hover:text-darkBlueGray-400" href="#">New tools</a>
                <a class="mr-16 inline-flex items-center font-heading text-darkBlueGray-300 hover:text-darkBlueGray-400" href="#">
                  <span class="mr-4">Security</span>
                  <svg width="8" height="5" viewbox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.97291 0.193232C7.20854 -0.0644107 7.58938 -0.0644107 7.82328 0.193232C8.05804 0.450875 8.05978 0.867141 7.82328 1.12478L4.42529 4.80677C4.19053 5.06441 3.81056 5.06441 3.57406 4.80677L0.176073 1.12478C-0.0586909 0.868102 -0.0586909 0.450875 0.176073 0.193232C0.411706 -0.0644107 0.792544 -0.0644107 1.02644 0.193232L4.00098 3.21284L6.97291 0.193232Z" fill="currentColor"></path>
                  </svg>
                </a>
                <a class="inline-block font-heading text-darkBlueGray-300 hover:text-darkBlueGray-400" href="#">Join for free</a>
              </div>
            </div>
          </div>
          <div class="relative text-center">
            <a class="inline-block font-bold text-xl" href="#">
              <img class="h-12" src="uinel-assets/logos/uinel-gray-black.svg" alt="">
            </a>
            <p class="md:absolute top-0 right-0 mt-12 font-medium tracking-widest text-sm text-darkBlueGray-300">© 2021 UINEL</p>
          </div>
        </div>
      </section>
    
      <section class="pb-24 2xl:pb-28 bg-darkBlueGray-500">
        <div class="mb-16 py-5 border-b border-white border-opacity-10">
          <div class="container px-4 mx-auto">
            <div class="flex flex-wrap items-center justify-between -mx-4">
              <div class="w-full md:w-auto px-4 pt-6 md:pt-0 mb-4 md:mb-0">
                <a class="mr-6 lg:mr-16 text-white hover:text-gray-100 font-heading" href="#">New tools</a>
                <a class="mr-6 lg:mr-16 inline-flex items-center font-heading text-white hover:text-gray-100" href="#">
                  <span class="mr-4">Security</span>
                  <svg width="8" height="5" viewbox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.97291 0.193232C7.20854 -0.0644107 7.58938 -0.0644107 7.82328 0.193232C8.05804 0.450875 8.05978 0.867141 7.82328 1.12478L4.42529 4.80677C4.19053 5.06441 3.81056 5.06441 3.57406 4.80677L0.176073 1.12478C-0.0586909 0.868102 -0.0586909 0.450875 0.176073 0.193232C0.411706 -0.0644107 0.792544 -0.0644107 1.02644 0.193232L4.00098 3.21284L6.97291 0.193232Z" fill="currentColor"></path>
                  </svg>
                </a>
                <a class="font-heading text-white hover:text-gray-100" href="#">Join for free</a>
              </div>
              <div class="w-full md:w-auto px-4">
                <a class="font-bold text-xl" href="#">
                  <img class="h-10" src="uinel-assets/logos/uinel-gray-white.svg" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="container px-4 mx-auto">
          <div class="flex flex-wrap -mx-4 mb-20 lg:mb-40">
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5 px-4 mb-10 lg:mb-0">
              <h3 class="font-medium text-xl text-white mb-10">About Uinel</h3>
              <ul>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">About us</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Stories</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Our people</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Founders</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Why Uinel</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">How we compare</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Website</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Idea</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Mission</a></li>
                <li><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Newsroom</a></li>
              </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5 px-4 mb-10 lg:mb-0">
              <h3 class="font-medium text-xl text-white mb-10">Product &amp; Tools</h3>
              <ul>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Download Uinel</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Sign up free</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Pricing</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Features</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Google integrations</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Microsoft integrations</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Dropbox integrations</a></li>
                <li><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Mobile App</a></li>
              </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5 px-4 mb-10 lg:mb-0">
              <h3 class="font-medium text-xl text-white mb-10">Community</h3>
              <ul>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">UI Designers</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">UX Designers</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Graphic Designers</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Developers</a></li>
                <li><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Events</a></li>
              </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5 px-4 mb-10 sm:mb-0">
              <h3 class="font-medium text-xl text-white mb-10">Support</h3>
              <ul>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Your account</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Hire an experts</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Help center</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">For students</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Manage cookies</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">FAQ's</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Viedos on YT</a></li>
                <li><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Contact</a></li>
              </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5 px-4">
              <h3 class="font-medium text-xl text-white mb-10">More</h3>
              <ul>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">LinkedIn</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Spotify x Uinel</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Twitter</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Instagram</a></li>
                <li><a class="text-darkBlueGray-200 hover:text-darkBlueGray-300" href="#">Facebook</a></li>
              </ul>
            </div>
          </div>
          <div class="flex flex-wrap items-center justify-between -mx-4">
            <div class="w-full lg:w-auto px-4 mb-8 lg:mb-0">
              <p class="font-medium text-sm text-white tracking-widest">
                <span>© 2021 UINEL.</span>
                <span class="ml-6 font-medium uppercase tracking-widest text-gray-300">All rights reserved.</span>
              </p>
            </div>
            <div class="w-full lg:w-auto px-4">
              <a class="inline-block mr-5" href="#">
                <img src="uinel-assets/images/footers/instagram.svg" alt="">
              </a>
              <a class="inline-block mr-5" href="#">
                <img src="uinel-assets/images/footers/facebook.svg" alt="">
              </a>
              <a class="inline-block" href="#">
                <img src="uinel-assets/images/footers/twitter.svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </section>
    
      <section class="py-24 2xl:py-44 bg-darkBlueGray-500">
        <div class="container px-4 mx-auto">
          <div class="flex flex-wrap -mx-4 mb-14 lg:mb-24">
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5 px-4 mb-10 lg:mb-0">
              <h3 class="mb-10 font-heading font-medium tracking-tighter text-xl text-white">About Uinel</h3>
              <ul>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">About us</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Stories</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Our people</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Founders</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Why Uinel</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">How we compare</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Website</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Idea</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Mission</a></li>
                <li><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Newsroom</a></li>
              </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5 px-4 mb-10 lg:mb-0">
              <h3 class="mb-10 font-heading font-medium tracking-tighter text-xl text-white">Product &amp; Tools</h3>
              <ul>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Download Uinel</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Sign up free</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Pricing</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Features</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Google integrations</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Microsoft integrations</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Dropbox integrations</a></li>
                <li><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Mobile App</a></li>
              </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5 px-4 mb-10 lg:mb-0">
              <h3 class="mb-10 font-heading font-medium tracking-tighter text-xl text-white">Community</h3>
              <ul>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">UI Designers</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">UX Designers</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Graphic Designers</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Developers</a></li>
                <li><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Events</a></li>
              </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5 px-4 mb-10 sm:mb-0">
              <h3 class="mb-10 font-heading font-medium tracking-tighter text-xl text-white">Support</h3>
              <ul>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Your account</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Hire an experts</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Help center</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">For students</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Manage cookies</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">FAQ's</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Viedos on YT</a></li>
                <li><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Contact</a></li>
              </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5 px-4">
              <h3 class="mb-10 font-heading font-medium tracking-tighter text-xl text-white">More</h3>
              <ul>
                <li class="mb-5"><a class="text-gray-200 hover:text-gray-100" href="#">LinkedIn</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Spotify x Uinel</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Twitter</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Instagram</a></li>
                <li><a class="text-darkBlueGray-200 hover:text-darkBlueGray-100" href="#">Facebook</a></li>
              </ul>
            </div>
          </div>
          <div class="flex flex-wrap items-center -mx-4">
            <div class="w-full lg:w-1/6 px-4 mb-10 lg:mb-0">
              <a class="font-bold text-xl" href="#">
                <img class="h-12" src="uinel-assets/logos/uinel-gray-white.svg" alt="">
              </a>
            </div>
            <div class="w-full lg:w-3/6 px-4 mb-10 lg:mb-0">
              <a class="mr-16 font-heading text-white hover:text-gray-100" href="#">New tools</a>
              <a class="mr-16 inline-flex items-center font-heading text-white hover:text-gray-100" href="#">
                <span class="mr-4">Security</span>
                <svg width="8" height="5" viewbox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.97291 0.193232C7.20854 -0.0644107 7.58938 -0.0644107 7.82328 0.193232C8.05804 0.450875 8.05978 0.867141 7.82328 1.12478L4.42529 4.80677C4.19053 5.06441 3.81056 5.06441 3.57406 4.80677L0.176073 1.12478C-0.0586909 0.868102 -0.0586909 0.450875 0.176073 0.193232C0.411706 -0.0644107 0.792544 -0.0644107 1.02644 0.193232L4.00098 3.21284L6.97291 0.193232Z" fill="currentColor"></path>
                </svg>
              </a>
              <a class="font-heading text-white hover:text-gray-100" href="#">Join for free</a>
            </div>
            <div class="w-full lg:w-2/6 px-4">
              <div class="flex items-center">
                <p class="mr-20 text-sm tracking-widest text-gray-300">© 2021 UINEL</p>
                <a href="#">
                  <img src="uinel-assets/images/footers/scroll-down2.svg" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <section class="py-24 2xl:py-44 bg-blueGray-50">
        <div class="container px-4 mx-auto">
          <div class="flex flex-wrap -mx-4 mb-14 lg:mb-24">
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5 px-4 mb-10 lg:mb-0">
              <h3 class="mb-10 font-heading font-medium tracking-tighter text-xl">About Uinel</h3>
              <ul>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">About us</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Stories</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Our people</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Founders</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Why Uinel</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">How we compare</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Website</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Idea</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Mission</a></li>
                <li><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Newsroom</a></li>
              </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5 px-4 mb-10 lg:mb-0">
              <h3 class="mb-10 font-heading font-medium tracking-tighter text-xl">Product &amp; Tools</h3>
              <ul>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Download Uinel</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Sign up free</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Pricing</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Features</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Google integrations</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Microsoft integrations</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Dropbox integrations</a></li>
                <li><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Mobile App</a></li>
              </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5 px-4 mb-10 lg:mb-0">
              <h3 class="mb-10 font-heading font-medium tracking-tighter text-xl">Community</h3>
              <ul>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">UI Designers</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">UX Designers</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Graphic Designers</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Developers</a></li>
                <li><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Events</a></li>
              </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5 px-4 mb-10 sm:mb-0">
              <h3 class="mb-10 font-heading font-medium tracking-tighter text-xl">Support</h3>
              <ul>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Your account</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Hire an experts</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Help center</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">For students</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Manage cookies</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">FAQ's</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Viedos on YT</a></li>
                <li><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Contact</a></li>
              </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/5 px-4">
              <h3 class="mb-10 font-heading font-medium tracking-tighter text-xl">More</h3>
              <ul>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">LinkedIn</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Spotify x Uinel</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Twitter</a></li>
                <li class="mb-5"><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Instagram</a></li>
                <li><a class="text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">Facebook</a></li>
              </ul>
            </div>
          </div>
          <div class="flex flex-wrap items-center -mx-4">
            <div class="w-full lg:w-1/6 px-4 mb-10 lg:mb-0">
              <a class="font-bold text-xl" href="#">
                <img class="h-12" src="uinel-assets/logos/uinel-gray-black.svg" alt="">
              </a>
            </div>
            <div class="w-full lg:w-3/6 px-4 mb-10 lg:mb-0">
              <a class="mr-16 font-heading text-darkBlueGray-300 hover:text-darkBlueGray-400" href="#">New tools</a>
              <a class="mr-16 inline-flex items-center font-heading text-darkBlueGray-300 hover:text-darkBlueGray-400" href="#">
                <span class="mr-4">Security</span>
                <svg width="8" height="5" viewbox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.97291 0.193232C7.20854 -0.0644107 7.58938 -0.0644107 7.82328 0.193232C8.05804 0.450875 8.05978 0.867141 7.82328 1.12478L4.42529 4.80677C4.19053 5.06441 3.81056 5.06441 3.57406 4.80677L0.176073 1.12478C-0.0586909 0.868102 -0.0586909 0.450875 0.176073 0.193232C0.411706 -0.0644107 0.792544 -0.0644107 1.02644 0.193232L4.00098 3.21284L6.97291 0.193232Z" fill="currentColor"></path>
                </svg>
              </a>
              <a class="font-heading text-darkBlueGray-300 hover:text-darkBlueGray-400" href="#">Join for free</a>
            </div>
            <div class="w-full lg:w-2/6 px-4">
              <div class="flex items-center">
                <p class="mr-20 text-sm tracking-widest text-darkBlueGray-300">© 2021 UINEL</p>
                <a href="#">
                  <img src="uinel-assets/images/footers/scroll-down.svg" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="js/charts-demo.js"></script>    
  </body>
</html>

