<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Page title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap">
    <link rel="stylesheet" href="css/tailwind/tailwind.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-tailwind.png">
    <script src="js/main.js"></script>
  </head>
  <body class="antialiased bg-body text-body font-body">
    <div class=""> 
    
      <div>
        <section class="p-4 md:p-8 font-medium bg-blueGray-100">
          <div class="relative pt-24 pb-8 lg:pb-24 2xl:pt-52 2xl:pb-60 bg-white rounded-t-10xl z-10">
            <div class="container px-4 mx-auto">
              <div class="grid lg:grid-cols-2 items-center gap-20">
                <div>
                  <img class="mb-20" src="uinel-assets/elements/portfolio/portfolio1-write-icon.svg" alt="">
                  <span class="block mb-9 font-heading text-sm uppercase tracking-widest text-gray-300">Portfolio</span>
                  <div class="relative flex items-center max-w-max mb-14 xl:mb-16">
                    <h2 class="font-heading text-9xl md:text-10xl xl:text-11xl leading-tight">SchoolTrip</h2>
                    <div class="absolute bottom-20 right-16 md:-right-24 md:bottom-2 xl:bottom-12">
                      <h3 class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 font-heading text-6xl z-10">APP</h3>
                      <img src="uinel-assets/elements/portfolio/elipse1.svg" alt="">
                      <img class="absolute top-0 left-0" src="uinel-assets/elements/portfolio/elipse2.svg" alt="">
                    </div>
                  </div>
                  <h3 class="mb-10 text-5xl xl:text-8xl leading-tighter lg:max-w-lg">A spatial system is a set of rules for how you measure and size your UI elements.</h3>
                  <p class="mb-14 xl:mb-16 font-normal text-lg leading-6 text-gray-700">The nulla commodo, commodo eros a, tristique lectus.</p>
                  <a class="inline-flex items-center pb-1 text-green-600 hover:text-green-700 border-b border-green-600 hover:border-green-700" href="#">
                    <span class="font-bold tracking-tight text-xl">Discover weekly</span>
                    <svg class="ml-4" width="16" height="13" viewbox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M10.8 1L15 7H1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M11 12L15 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </a>
                </div>
                <img src="uinel-assets/images/portfolio/widget.png" alt="">
              </div>
            </div>
          </div>
        </section>
        <div class="-mt-16 h-24 bg-yellow-500"></div>
      </div>
    
      <div>
        <section class="p-8 pb-0 font-medium bg-blueGray-100">
          <div class="relative py-24 2xl:py-44 bg-white z-10 rounded-t-10xl">
            <div class="container px-4 mx-auto">
              <h2 class="mb-16 xl:mb-28 font-heading text-9xl md:text-10xl xl:text-11xl leading-tight">Works</h2>
              <div class="py-6 px-5 mb-20 xl:py-3 font-heading text-xl leading-7 bg-gray-50 rounded-8xl">
                <div class="md:grid md:grid-cols-2 xl:grid-cols-5 md:text-center xl:max-w-max xl:mx-auto"><a class="block py-5 px-8 2xl:px-14 hover:opacity-70" href="#">Mobile Apps</a><a class="block bg-white py-5 2xl:px-14 rounded-5xl px-8 shadow-lg" href="#">Web Design</a><a class="block py-5 px-8 2xl:px-14 hover:opacity-70" href="#">Commercial</a><a class="block py-5 px-8 2xl:px-14 hover:opacity-70" href="#">Social media</a><a class="block py-5 px-8 2xl:px-14 hover:opacity-70" href="#">UX Design</a></div>
              </div>
              <div class="flex flex-wrap -mx-4 mb-20 xl:mb-36">
                <div class="w-full lg:w-6/12 px-4 mb-6 lg:mb-0">
                  <div class="relative max-w-max" href="#">
                    <img src="uinel-assets/images/portfolio/portfolio5-glass.png" alt="">
                    <div class="h-32 bg-gray-50 bg-opacity-70 rounded-b-9xl"></div>
                    <div class="absolute bottom-12 w-full px-2">
                      <div class="py-12 px-6 md:px-14 bg-white rounded-5xl shadow-md"><a class="block mb-3 text-lg font-heading leading-5 text-purple-500 hover:text-purple-600" href="#">XAOS LTD</a><a class="font-heading leading-normal text-3xl xl:text-7xl hover:underline" href="#">Xaos Redesign</a></div>
                    </div>
                  </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-3/12 px-4 mb-6 md:mb-0">
                  <div class="relative mx-auto max-w-max" href="#">
                    <img src="uinel-assets/images/portfolio/portfolio5-man.png" alt="">
                    <div class="h-32 bg-gray-50 bg-opacity-70 rounded-b-9xl"></div>
                    <div class="absolute bottom-12 w-full px-2">
                      <div class="py-12 px-6 md:px-14 bg-white rounded-5xl hadow-md"><a class="block mb-3 text-lg font-heading leading-5 text-purple-500 hover:text-purple-600" href="#">ASOS LTD</a><a class="font-heading leading-normal text-3xl xl:text-7xl hover:underline" href="#">New site for asos</a></div>
                    </div>
                  </div>
                </div>
                <div class="w-full md:w-1/2 lg:w-3/12 px-4">
                  <div class="relative mx-auto max-w-max" href="#">
                    <img src="uinel-assets/images/portfolio/portfolio5-dark.png" alt="">
                    <div class="h-32 bg-gray-50 bg-opacity-70 rounded-b-9xl"></div>
                    <div class="absolute bottom-12 w-full px-2">
                      <div class="py-12 px-6 md:px-14 bg-white rounded-5xl hadow-md"><a class="block mb-3 text-lg font-heading leading-5 text-purple-500 hover:text-purple-600" href="#">UNF CO</a><a class="font-heading leading-normal text-3xl xl:text-7xl hover:underline" href="#">New site for UNF</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex items-center mx-auto max-w-max">
                <a class="mr-8 md:mr-48" href="#">
                  <img src="uinel-assets/elements/portfolio/arrow-left-black.svg" alt="">
                </a>
                <div class="flex w-44 h-1 bg-gray-100 mx-auto"><a class="w-1/3 bg-indigo-500" href="#"></a><a class="w-1/2 bg-transparent" href="#"></a></div>
                <a class="ml-8 md:ml-48" href="#">
                  <img src="uinel-assets/elements/portfolio/arrow-right-black.svg" alt="">
                </a>
              </div>
            </div>
          </div>
        </section>
        <div class="h-24 bg-yellow-500 -mt-16"></div>
      </div>
    
      <div>
        <section class="p-8 pb-0 font-medium bg-blueGray-100">
          <div class="relative py-24 2xl:pt-52 2xl:pb-36 bg-white z-10 rounded-t-10xl">
            <div class="container px-4 mx-auto">
              <h2 class="mb-16 xl:mb-28 font-heading text-9xl md:text-10xl xl:text-11xl leading-tight">Our works</h2>
              <div class="grid md:grid-cols-2 md:items-start xl:grid-cols-12 gap-20">
                <div class="xl:col-start-1 xl:col-end-5 flex flex-col py-6 px-5 font-heading text-xl leading-7 xl:max-w-xs bg-gray-50 rounded-8xl">
                  <a class="py-5 px-8 hover:opacity-70" href="#">Mobile</a>
                  <a class="flex items-center justify-between py-5 px-8 bg-white rounded-5xl shadow-lg" href="#">
                    <span>Web Design</span>
                    <img src="uinel-assets/elements/portfolio/arrow-right-black.svg" alt="">
                  </a>
                  <a class="py-5 px-8 hover:opacity-70" href="#">Commercial</a><a class="py-5 px-8 hover:opacity-70" href="#">Social</a>
                </div>
                <div class="xl:col-start-5 xl:col-end-13 grid gap-8 xl:gap-16 xl:grid-cols-2 justify-center">
                  <div class="relative max-w-max">
                    <img src="uinel-assets/images/portfolio/portfolio4-glass.png" alt="">
                    <div class="h-32 bg-gray-50 bg-opacity-70 rounded-b-9xl"></div>
                    <div class="absolute bottom-12 px-2 w-full">
                      <div class="py-12 px-6 md:px-14 bg-white rounded-5xl shadow-md">
                        <a class="block mb-3 font-heading text-lg leading-5 text-purple-500 hover:text-purple-600" href="#">XAOS LTD</a>
                        <a class="inline-block hover:underline" href="#">
                          <h3 class="font-heading leading-normal text-3xl xl:text-7xl">Xaos Redesign</h3>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="relative max-w-max">
                    <img src="uinel-assets/images/portfolio/portfolio4-dark.png" alt="">
                    <div class="h-32 bg-gray-50 bg-opacity-70 rounded-b-9xl"></div>
                    <div class="absolute bottom-12 px-2 w-full">
                      <div class="py-12 px-6 md:px-14 bg-white rounded-5xl shadow-md">
                        <a class="block mb-3 font-heading text-lg leading-5 text-purple-500 hover:text-purple-600" href="#">UNF CO</a>
                        <a class="inline-block hover:underline" href="#">
                          <h3 class="font-heading leading-normal text-3xl xl:text-7xl">New site for UNF</h3>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="h-24 bg-yellow-500 -mt-16"></div>
      </div>
    
      <div>
        <section class="p-8 pb-0 font-medium bg-blueGray-100">
          <div class="relative pt-24 2xl:pt-36 lg:pb-24 2xl:pb-44 text-white bg-darkBlueGray-500 z-10 overflow-hidden rounded-t-10xl">
            <div class="container lg:relative px-4 mx-auto">
              <div class="flex flex-wrap items-center justify-center mb-20 mx-auto">
                <a class="inline-block order-last md:order-first mr-4 md:mr-0" href="#">
                  <img src="uinel-assets/elements/portfolio/arrow-left-white.svg" alt="">
                </a>
                <div class="w-full md:w-auto flex flex-wrap mx-20 mb-6 md:mb-0">
                  <div class="w-full md:w-auto text-center">
                    <h2 class="font-heading text-9xl md:text-10xl xl:text-11xl leading-tight">SchoolTrip</h2>
                  </div>
                  <div class="relative mx-auto mb-2 md:mb-0 md:ml-2 w-20 h-16 order-first md:order-last">
                    <h3 class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 font-heading text-6xl z-10">APP</h3>
                    <img class="absolute top-0 left-0" src="uinel-assets/elements/portfolio/elipse1.svg" alt="">
                    <img class="absolute top-0 left-0 mt-1 ml-1" src="uinel-assets/elements/portfolio/elipse2.svg" alt="">
                  </div>
                </div>
                <a class="inline-block order-last" href="#">
                  <img src="uinel-assets/elements/portfolio/arrow-right-white.svg" alt="">
                </a>
              </div>
              <div class="flex w-44 mx-auto mb-16 xl:mb-44 h-px bg-gray-100" style="height: 2px;"><a class="w-1/3 bg-indigo-500" href="#"></a><a class="w-1/2 bg-transparent" href="#"></a></div>
              <div class="grid lg:grid-cols-2 lg:items-end gap-20">
                <div>
                  <img class="mb-14 xl:mb-16" src="uinel-assets/elements/portfolio/portfolio1-write-icon.svg" alt="">
                  <h3 class="mb-10 text-5xl xl:text-8xl leading-tighter lg:max-w-lg">A spatial system is a set of rules for how you measure and size your UI elements.</h3>
                  <p class="mb-14 xl:mb-16 font-normal text-lg leading-6 text-darkBlueGray-400">Fusce sodales vitae lorem vitae tempus.</p>
                  <a class="inline-block py-5 px-10 text-xl leading-6 text-white font-medium tracking-tighter font-heading bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">Learn more</a>
                </div>
                <img class="lg:hidden" src="uinel-assets/images/portfolio/widget2.png" alt="">
              </div>
            </div>
            <div class="hidden lg:block lg:absolute lg:right-0 2xl:-right-44 lg:bottom-0 lg:w-1/2 2xl:w-auto">
              <img src="uinel-assets/images/portfolio/widget2.png" alt="">
            </div>
          </div>
        </section>
        <div class="-mt-16 h-24 bg-yellow-500"></div>
      </div>
    
      <div>
        <section class="p-8 pb-0 font-medium bg-blueGray-100">
          <div class="relative pt-24 2xl:pt-36 lg:pb-24 2xl:pb-44 bg-white z-10 overflow-hidden rounded-t-10xl">
            <div class="container lg:relative px-4 mx-auto">
              <div class="flex flex-wrap items-center justify-center mb-20 mx-auto">
                <a class="inline-block order-last md:order-first mr-4 md:mr-0" href="#">
                  <img src="uinel-assets/elements/portfolio/arrow-left-black.svg" alt="">
                </a>
                <div class="w-full md:w-auto flex flex-wrap mx-20 mb-6 md:mb-0">
                  <div class="w-full md:w-auto text-center">
                    <h2 class="font-heading text-9xl md:text-10xl xl:text-11xl leading-tight">SchoolTrip</h2>
                  </div>
                  <div class="relative mx-auto mb-2 md:mb-0 md:ml-2 w-20 h-16 order-first md:order-last">
                    <h3 class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 font-heading text-6xl z-10">APP</h3>
                    <img class="absolute top-0 left-0" src="uinel-assets/elements/portfolio/elipse1.svg" alt="">
                    <img class="absolute top-0 left-0 mt-1 ml-1" src="uinel-assets/elements/portfolio/elipse2.svg" alt="">
                  </div>
                </div>
                <a class="inline-block order-last" href="#">
                  <img src="uinel-assets/elements/portfolio/arrow-right-black.svg" alt="">
                </a>
              </div>
              <div class="flex w-44 mx-auto mb-16 xl:mb-44 h-px bg-gray-100" style="height: 2px;"><a class="w-1/3 bg-indigo-500" href="#"></a><a class="w-1/2 bg-transparent" href="#"></a></div>
              <div class="grid lg:grid-cols-2 lg:items-end gap-20">
                <div>
                  <img class="mb-14 xl:mb-16" src="uinel-assets/elements/portfolio/portfolio1-write-icon.svg" alt="">
                  <h3 class="mb-10 text-5xl xl:text-8xl leading-tighter lg:max-w-lg">A spatial system is a set of rules for how you measure and size your UI elements.</h3>
                  <p class="mb-14 xl:mb-16 font-normal text-lg leading-6 text-darkBlueGray-400">Fusce sodales vitae lorem vitae tempus.</p>
                  <a class="inline-block py-5 px-10 text-xl leading-6 text-white font-medium tracking-tighter font-heading bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">Learn more</a>
                </div>
                <img class="lg:hidden" src="uinel-assets/images/portfolio/widget2.png" alt="">
              </div>
            </div>
            <div class="hidden lg:block lg:absolute lg:right-0 2xl:-right-44 lg:bottom-0 lg:w-1/2 2xl:w-auto">
              <img src="uinel-assets/images/portfolio/widget2.png" alt="">
            </div>
          </div>
        </section>
        <div class="-mt-16 h-24 bg-yellow-500"></div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="js/charts-demo.js"></script>    
  </body>
</html>

