<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Page title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap">
    <link rel="stylesheet" href="css/tailwind/tailwind.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-tailwind.png">
    <script src="js/main.js"></script>
  </head>
  <body class="antialiased bg-body text-body font-body">
    <div class=""> 
    
      <section>
        <div class="font-medium pt-24 2xl:pt-52 bg-blueGray-100 rounded-b-10xl pb-96">
          <div class="container px-4 mx-auto">
            <h2 class="font-heading text-9xl md:text-10xl xl:text-11xl leading-tight mb-12 text-center">Select software</h2>
            <p class="text-lg leading-6 font-normal text-darkBlueGray-400 mb-20 text-center">Sed porttitor turpis sit amet malesuada porta vivamus lobortis.</p>
          </div>
        </div>
        <div class="container px-4 mx-auto">
          <div class="-mt-96 grid md:grid-cols-2 lg:grid-cols-3 lg:items-center gap-9 pb-24 2xl:pb-52 font-medium mx-auto max-w-7xl">
            <div class="pt-14 pb-16 px-8 md:px-16 shadow-2xl rounded-5xl bg-white">
              <img class="mb-14 w-10 h-10" src="uinel-assets/elements/pricing/circle1-small.svg" alt="">
              <h3 class="font-heading text-7xl leading-10 tracking-tight mb-4">Beginner</h3>
              <div class="font-heading text-3xl flex items-center mb-12 leading-5 tracking-tighter">
                <span class="text-base mr-2 -mb-1">$</span>
                <span>8.80</span>
              </div>
              <p class="font-normal font-heading text-base leading-loose text-darkBlueGray-400 mb-14 xl:mb-28">I haretra neque non me, finibus hart bibendum molestie.</p>
              <a class="block py-3 px-10 md:mx-auto w-full md:max-w-max text-xl leading-7 text-white font-medium tracking-tighter font-heading text-center bg-purple-500 hover:bg-purple-600 focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50 rounded-xl" href="#">Buy now</a>
            </div>
            <div class="pt-14 pb-16 px-8 md:px-16 shadow-3xl rounded-5xl bg-white">
              <img class="mb-14 w-10 h-10" src="uinel-assets/elements/pricing/circle2-small.svg" alt="">
              <h3 class="font-heading text-7xl leading-10 tracking-tight mb-4">Students</h3>
              <div class="font-heading text-3xl flex items-center mb-12 leading-5 tracking-tighter">
                <span class="text-base mr-2 -mb-1">$</span>
                <span>15.90</span>
              </div>
              <p class="font-normal font-heading text-base leading-loose text-darkBlueGray-400 mb-6">I haretra neque non me, finibus hart bibendum molestie.</p>
              <ul class="mb-14 xl:mb-32">
                <li class="flex items-start leading-6 font-normal text-darkBlueGray-400">
                  <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                  <span>100GB cloud storage</span>
                </li>
              </ul>
              <a class="block py-3 px-10 md:mx-auto w-full md:max-w-max text-xl leading-7 text-white font-medium tracking-tighter font-heading text-center bg-purple-500 hover:bg-purple-600 focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50 rounded-xl" href="#">Buy now</a>
            </div>
            <div class="pt-6 pb-16 px-8 md:px-16 shadow-2xl rounded-5xl bg-white">
              <div class="bg-gray-50 max-w-max ml-auto md:-mr-10 rounded-8xl py-2 px-3 uppercase text-xs font-bold tracking-wider text-gray-300">Trial free</div>
              <img class="mb-14 w-10 h-10" src="uinel-assets/elements/pricing/circle3-small.svg" alt="">
              <h3 class="font-heading text-7xl leading-10 tracking-tight mb-4">Team</h3>
              <div class="font-heading text-3xl flex items-center mb-12 leading-5 tracking-tighter">
                <span class="text-base mr-2 -mb-1">$</span>
                <span>29.90</span>
              </div>
              <p class="font-normal font-heading text-base leading-loose text-darkBlueGray-400 mb-14 xl:mb-28">I haretra neque non me, finibus hart bibendum molestie.</p>
              <a class="block py-3 px-10 md:mx-auto w-full md:max-w-max text-xl leading-7 text-white font-medium tracking-tighter font-heading text-center bg-purple-500 hover:bg-purple-600 focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50 rounded-xl" href="#">Buy now</a>
            </div>
          </div>
        </div>
      </section>
    
      <section class="font-medium bg-blueGray-50 py-24 2xl:py-44">
        <div class="container px-4 mx-auto">
          <h2 class="font-heading text-9xl md:text-10xl xl:text-11xl leading-tight mb-14 xl:mb-32">Select software</h2>
          <div class="relative border-b border-gray-200 mb-20 xl:mb-24">
            <div class="absolute w-1/3 md:w-1/5 h-1 bg-purple-500 -bottom-px left-0"></div>
            <div class="grid md:grid-cols-3 max-w-3xl"><a class="font-heading text-xl pb-7 xl:pb-12 hover:text-gray-600" href="#">Uinel one</a><a class="font-heading text-xl pb-7 xl:pb-12 hover:text-gray-600" href="#">Uinel 10</a><a class="font-heading text-xl pb-7 xl:pb-12 hover:text-gray-600" href="#">Uinel room</a></div>
          </div>
          <div class="mb-10">
            <div class="md:grid grid-cols-2 md:grid-cols-12 text-white mb-9">
              <div class="md:col-start-1 md:col-end-6 lg:col-start-1 lg:col-end-4 py-16 pl-14 pr-8 md:px-10 bg-indigo-600 relative rounded-t-32 md:rounded-bl-32 md:rounded-tr-none">
                <img class="top-16 -left-2 md:-left-5 absolute w-10 h-10" src="uinel-assets/elements/pricing/circle8-small.svg" alt="">
                <h3 class="break-words font-heading text-7xl leading-10 tracking-tight mb-4">Beginner</h3>
                <div class="font-heading text-3xl flex items-center">
                  <span class="text-base mr-2 -mb-1">$</span>
                  <span>8.80</span>
                </div>
              </div>
              <div class="md:col-start-6 lg:col-start-4 md:col-end-13 bg-gray-50 py-14 px-6 md:px-10 rounded-b-32 md:rounded-bl-none md:rounded-tr-32 md:rounded-br-32">
                <h3 class="font-heading text-base text-body tracking-tighter leading-5 mb-6">What's included</h3>
                <div class="xl:grid xl:grid-cols-2 xl:gap-8 xl:items-center xl:justify-between">
                  <div class="xl:col-start-1 xl:col-end-8 2xl:col-end-7">
                    <ul class="lg:grid lg:grid-cols-3 lg:gap-2 mb-8 xl:mb-0">
                      <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-4 lg:mb-0 bg-white py-5 px-4 rounded-5xl shadow-2xl">
                        <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                        <span>Complete tools</span>
                      </li>
                      <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-4 lg:mb-0 bg-white py-5 px-4 rounded-5xl shadow-2xl">
                        <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                        <span>10GB cloud storage</span>
                      </li>
                      <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 bg-white py-5 px-4 rounded-5xl shadow-2xl">
                        <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                        <span>5 team members</span>
                      </li>
                    </ul>
                  </div>
                  <div class="xl:col-start-8 xl:col-end-13"><a class="block py-5 px-10 md:ml-auto w-full lg:max-w-max text-xl leading-6 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">Buy</a></div>
                </div>
              </div>
            </div>
            <p class="text-center text-sm leading-6 font-heading font-normal text-darkBlueGray-400">Aenean pellentesque eu lectus quis egestas. Proin tristique commodo nulla, et pharet is amet.</p>
          </div>
          <div>
            <div class="md:grid grid-cols-2 md:grid-cols-12 text-white mb-9">
              <div class="md:col-start-1 md:col-end-6 lg:col-start-1 lg:col-end-4 py-16 pl-14 pr-8 md:px-10 bg-indigo-600 relative rounded-t-32 md:rounded-bl-32 md:rounded-tr-none">
                <img class="top-16 -left-2 md:-left-5 absolute w-10 h-10" src="uinel-assets/elements/pricing/circle8-small.svg" alt="">
                <h3 class="break-words font-heading text-7xl leading-10 tracking-tight mb-4">Professional</h3>
                <div class="font-heading text-3xl flex items-center">
                  <span class="text-base mr-2 -mb-1">$</span>
                  <span>24.90</span>
                </div>
              </div>
              <div class="md:col-start-6 lg:col-start-4 md:col-end-13 bg-gray-50 py-14 px-6 md:px-10 rounded-b-32 md:rounded-bl-none md:rounded-tr-32 md:rounded-br-32">
                <h3 class="font-heading text-base text-body tracking-tighter leading-5 mb-6">What's included</h3>
                <div class="xl:grid xl:grid-cols-2 xl:gap-8 xl:items-center xl:justify-between">
                  <div class="xl:col-start-1 xl:col-end-8 2xl:col-end-7">
                    <ul class="lg:grid lg:grid-cols-3 lg:gap-2 mb-8 xl:mb-0">
                      <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-4 lg:mb-0 bg-white py-5 px-4 rounded-5xl shadow-2xl">
                        <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                        <span>Complete tools</span>
                      </li>
                      <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-4 lg:mb-0 bg-white py-5 px-4 rounded-5xl shadow-2xl">
                        <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                        <span>10GB cloud storage</span>
                      </li>
                      <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 bg-white py-5 px-4 rounded-5xl shadow-2xl">
                        <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                        <span>5 team members</span>
                      </li>
                    </ul>
                  </div>
                  <div class="xl:col-start-8 xl:col-end-13"><a class="block py-5 px-10 md:ml-auto w-full lg:max-w-max text-xl leading-6 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">Buy</a></div>
                </div>
              </div>
            </div>
            <p class="text-center text-sm leading-6 font-heading font-normal text-darkBlueGray-400">Aenean pellentesque eu lectus quis egestas. Proin tristique commodo nulla, et pharet is amet.</p>
          </div>
        </div>
      </section>
    
      <section>
        <div class="font-medium py-24 2xl:py-44 bg-blueGray-100">
          <div class="container px-4 mx-auto">
            <h2 class="font-heading text-9xl md:text-10xl xl:text-11xl leading-tight mb-12 text-center">Select software</h2>
            <p class="text-lg leading-6 font-normal text-darkBlueGray-400 mb-20 text-center">Sed porttitor turpis sit amet malesuada porta vivamus lobortis.</p>
            <div class="md:grid md:grid-cols-2 md:gap-x-16 gap-8 max-w-6xl mx-auto">
              <div class="p-8 md:p-14 mb-8 md:mb-0 shadow-2xl rounded-5xl bg-white">
                <img class="mb-9 w-10 h-10" src="uinel-assets/elements/pricing/circle10-small.svg" alt="">
                <div class="flex flex-wrap items-center justify-between -mb-4">
                  <h3 class="mb-4 font-heading text-7xl leading-10 tracking-tight">Beginner</h3>
                  <div class="mb-4 font-heading pl-4 text-3xl flex items-center leading-5 tracking-tighter">
                    <span class="text-base mr-2 -mb-1">$</span>
                    <span>8.80</span>
                  </div>
                </div>
                <p class="font-normal font-heading text-base leading-loose text-darkBlueGray-400 mt-6 mb-10">I haretra neque non me, finibus hart bibendum molestie.</p>
                <a class="block py-3 px-10 md:mr-auto w-full md:max-w-max text-xl leading-7 text-white font-medium tracking-tighter font-heading text-center bg-purple-500 hover:bg-purple-600 focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50 rounded-xl" href="#">Buy now</a>
              </div>
              <div class="p-8 md:p-14 mb-8 md:mb-0 shadow-2xl rounded-5xl bg-white">
                <img class="mb-9 w-10 h-10" src="uinel-assets/elements/pricing/circle11-small.svg" alt="">
                <div class="flex flex-wrap items-center justify-between -mb-4">
                  <h3 class="mb-4 font-heading text-7xl leading-10 tracking-tight">Students</h3>
                  <div class="mb-4 font-heading pl-4 text-3xl flex items-center leading-5 tracking-tighter">
                    <span class="text-base mr-2 -mb-1">$</span>
                    <span>15.90</span>
                  </div>
                </div>
                <p class="font-normal font-heading text-base leading-loose text-darkBlueGray-400 mt-6 mb-10">I haretra neque non me, finibus hart bibendum molestie.</p>
                <a class="block py-3 px-10 md:mr-auto w-full md:max-w-max text-xl leading-7 text-white font-medium tracking-tighter font-heading text-center bg-purple-500 hover:bg-purple-600 focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50 rounded-xl" href="#">Buy now</a>
              </div>
              <div class="p-8 md:p-14 mb-8 md:mb-0 shadow-2xl rounded-5xl bg-white">
                <img class="mb-9 w-10 h-10" src="uinel-assets/elements/pricing/circle12-small.svg" alt="">
                <div class="flex items-center justify-between mb-6">
                  <h3 class="font-heading text-7xl leading-10 tracking-tight">Team</h3>
                  <div class="font-heading pl-4 text-3xl flex items-center leading-5 tracking-tighter">
                    <span class="text-base mr-2 -mb-1">$</span>
                    <span>21.90</span>
                  </div>
                </div>
                <p class="font-normal font-heading text-base leading-loose text-darkBlueGray-400 mb-10">I haretra neque non me, finibus hart bibendum molestie.</p>
                <a class="block py-3 px-10 md:mr-auto w-full md:max-w-max text-xl leading-7 text-white font-medium tracking-tighter font-heading text-center bg-purple-500 hover:bg-purple-600 focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50 rounded-xl" href="#">Buy now</a>
              </div>
              <div class="p-8 md:p-14 shadow-2xl rounded-5xl bg-white">
                <img class="mb-9 w-10 h-10" src="uinel-assets/elements/pricing/circle13-small.svg" alt="">
                <div class="flex items-center justify-between -mb-4">
                  <h3 class="mb-4 font-heading text-7xl leading-10 tracking-tight">Business</h3>
                  <div class="mb-4 font-heading pl-4 text-3xl flex items-center leading-5 tracking-tighter">
                    <span class="text-base mr-2 -mb-1">$</span>
                    <span>29.90</span>
                  </div>
                </div>
                <p class="font-normal font-heading text-base leading-loose text-darkBlueGray-400 mt-6 mb-10">I haretra neque non me, finibus hart bibendum molestie.</p>
                <a class="block py-3 px-10 md:mr-auto w-full md:max-w-max text-xl leading-7 text-white font-medium tracking-tighter font-heading text-center bg-purple-500 hover:bg-purple-600 focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50 rounded-xl" href="#">Buy now</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <section class="font-medium bg-blueGray-100 py-24 2xl:py-44">
        <div class="container px-4 mx-auto">
          <h2 class="font-heading text-9xl md:text-10xl xl:text-11xl leading-tight mb-14 xl:mb-32">Select software</h2>
          <div class="border-b border-gray-200 mb-20 xl:mb-24">
            <div class="relative grid md:grid-cols-3 max-w-3xl">
              <div class="absolute w-1/3 h-1 bg-purple-500 -bottom-px left-0" style="height:2px;"></div>
              <a class="font-heading text-xl pb-7 xl:pb-12 hover:text-gray-600" href="#">Uinel one</a><a class="font-heading text-xl pb-7 xl:pb-12 hover:text-gray-600" href="#">Uinel 10</a><a class="font-heading text-xl pb-7 xl:pb-12 hover:text-gray-600" href="#">Uinel room</a>
            </div>
          </div>
          <div class="grid md:grid-cols-2 xl:grid-cols-4 gap-5 text-white">
            <div class="rounded-8xl overflow-hidden">
              <div class="pt-20 pb-9 px-14 bg-indigo-600">
                <img class="mb-10 w-10 h-10" src="uinel-assets/elements/pricing/circle4-small.svg" alt="">
                <h3 class="font-heading text-7xl leading-10 tracking-tight mb-4">Beginner</h3>
                <div class="font-heading text-3xl flex items-center mb-14">
                  <span class="text-base mr-2 -mb-1">$</span>
                  <span>8.80</span>
                </div>
              </div>
              <div class="bg-gray-50 px-3">
                <div class="relative -top-12 bg-white pt-12 px-5 pb-5 rounded-5xl shadow-2xl">
                  <div class="px-6">
                    <h3 class="font-heading text-base tracking-tighter leading-5 mb-6">What's included</h3>
                    <ul class="mb-14">
                      <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                        <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                        <span>Complete tools</span>
                      </li>
                      <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                        <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                        <span>10GB cloud storage</span>
                      </li>
                      <li class="flex items-start leading-6 font-normal text-darkBlueGray-400">
                        <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                        <span>5 team members</span>
                      </li>
                    </ul>
                  </div>
                  <a class="block py-3 px-10 w-full text-xl leading-7 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">Buy now</a>
                </div>
                <p class="md:w-56 mx-auto pb-14 font-normal font-heading text-sm text-center text-darkBlueGray-400 leading-6">I haretra 100% neque non me, finibus hart bibendum molestie.</p>
              </div>
            </div>
            <div class="rounded-8xl overflow-hidden">
              <div class="pt-20 pb-9 px-14 bg-indigo-600">
                <img class="mb-10 w-10 h-10" src="uinel-assets/elements/pricing/circle5-small.svg" alt="">
                <h3 class="font-heading text-7xl leading-10 tracking-tight mb-4">Students</h3>
                <div class="font-heading text-3xl flex items-center mb-14">
                  <span class="text-base mr-2 -mb-1">$</span>
                  <span>8.80</span>
                </div>
              </div>
              <div class="bg-gray-50 px-3">
                <div class="relative -top-12 bg-white pt-12 px-5 pb-5 rounded-5xl shadow-2xl">
                  <div class="px-6">
                    <h3 class="font-heading text-base tracking-tighter leading-5 mb-6">What's included</h3>
                    <ul class="mb-14">
                      <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                        <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                        <span>Complete tools</span>
                      </li>
                      <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                        <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                        <span>10GB cloud storage</span>
                      </li>
                      <li class="flex items-start leading-6 font-normal text-darkBlueGray-400">
                        <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                        <span>5 team members</span>
                      </li>
                    </ul>
                  </div>
                  <a class="block py-3 px-10 w-full text-xl leading-7 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">Buy now</a>
                </div>
                <p class="md:w-56 mx-auto pb-14 font-normal font-heading text-sm text-center text-darkBlueGray-400 leading-6">I haretra 100% neque non me, finibus hart bibendum molestie.</p>
              </div>
            </div>
            <div class="rounded-8xl overflow-hidden">
              <div class="pt-20 pb-9 px-14 bg-indigo-600">
                <img class="mb-10 w-10 h-10" src="uinel-assets/elements/pricing/circle6-small.svg" alt="">
                <h3 class="font-heading text-7xl leading-10 tracking-tight mb-4">Team</h3>
                <div class="font-heading text-3xl flex items-center mb-14">
                  <span class="text-base mr-2 -mb-1">$</span>
                  <span>8.80</span>
                </div>
              </div>
              <div class="bg-gray-50 px-3">
                <div class="relative -top-12 bg-white pt-12 px-5 pb-5 rounded-5xl shadow-2xl">
                  <div class="px-6">
                    <h3 class="font-heading text-base tracking-tighter leading-5 mb-6">What's included</h3>
                    <ul class="mb-14">
                      <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                        <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                        <span>Complete tools</span>
                      </li>
                      <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                        <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                        <span>10GB cloud storage</span>
                      </li>
                      <li class="flex items-start leading-6 font-normal text-darkBlueGray-400">
                        <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                        <span>5 team members</span>
                      </li>
                    </ul>
                  </div>
                  <a class="block py-3 px-10 w-full text-xl leading-7 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">Buy now</a>
                </div>
                <p class="md:w-56 mx-auto pb-14 font-normal font-heading text-sm text-center text-darkBlueGray-400 leading-6">I haretra 100% neque non me, finibus hart bibendum molestie.</p>
              </div>
            </div>
            <div class="rounded-8xl overflow-hidden">
              <div class="pt-20 pb-9 px-14 bg-indigo-600">
                <img class="mb-10 w-10 h-10" src="uinel-assets/elements/pricing/circle7-small.svg" alt="">
                <h3 class="font-heading text-7xl leading-10 tracking-tight mb-4">Business</h3>
                <div class="font-heading text-3xl flex items-center mb-14">
                  <span class="text-base mr-2 -mb-1">$</span>
                  <span>8.80</span>
                </div>
              </div>
              <div class="bg-gray-50 px-3">
                <div class="relative -top-12 bg-white pt-12 px-5 pb-5 rounded-5xl shadow-2xl">
                  <div class="px-6">
                    <h3 class="font-heading text-base tracking-tighter leading-5 mb-6">What's included</h3>
                    <ul class="mb-14">
                      <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                        <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                        <span>Complete tools</span>
                      </li>
                      <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                        <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                        <span>10GB cloud storage</span>
                      </li>
                      <li class="flex items-start leading-6 font-normal text-darkBlueGray-400">
                        <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                        <span>5 team members</span>
                      </li>
                    </ul>
                  </div>
                  <a class="block py-3 px-10 w-full text-xl leading-7 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">Buy now</a>
                </div>
                <p class="md:w-56 mx-auto pb-14 font-normal font-heading text-sm text-center text-darkBlueGray-400 leading-6">I haretra 100% neque non me, finibus hart bibendum molestie.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <section class="font-medium bg-white py-24 2xl:py-44">
        <div class="container px-4 mx-auto">
          <h2 class="font-heading text-9xl md:text-10xl xl:text-11xl leading-tight mb-10">Plans</h2>
          <p class="text-lg leading-6 font-normal text-darkBlueGray-400 mb-20 lg:mb-36">Sed porttitor turpis sit amet malesuada porta. Vivamus lobortis blandit lorem ut posuere.</p>
          <div class="md:grid md:grid-cols-2 xl:grid-cols-4 border border-gray-100 rounded-5xl overflow-hidden">
            <div class="py-16 px-6 md:px-10 flex flex-col justify-between md:border-b border-gray-100 xl:border-b-0">
              <div>
                <div class="flex justify-between items-center mb-8">
                  <h3 class="mr-2 font-heading text-6xl md:text-7xl leading-10 tracking-tight">Beginner</h3>
                  <div class="relative max-w-max">
                    <img class="w-14 h-14" src="uinel-assets/elements/pricing/circle1.svg" alt="">
                    <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-3xl md:text-6xl">X</span>
                  </div>
                </div>
                <div class="font-heading text-3xl flex items-center mb-14">
                  <span class="text-base mr-2 -mb-1">$</span>
                  <span>8.80</span>
                </div>
                <h3 class="font-heading text-base tracking-tighter leading-5 mb-6">What's included</h3>
                <ul class="mb-14 xl:mb-36">
                  <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                    <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                    <span>Complete tools</span>
                  </li>
                  <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                    <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                    <span>10GB cloud storage</span>
                  </li>
                  <li class="flex items-start leading-6 font-normal text-darkBlueGray-400">
                    <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                    <span>5 team members</span>
                  </li>
                </ul>
              </div>
              <a class="block py-3 px-10 md:mx-auto w-full md:w-auto text-xl leading-7 text-white font-medium tracking-tighter font-heading text-center bg-purple-500 hover:bg-purple-600 focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50 rounded-xl" href="#">Get started</a>
            </div>
            <div class="bg-gray-50 py-16 px-6 md:px-10 flex flex-col justify-between md:border-b border-gray-100 xl:border-b-0">
              <div>
                <div class="flex justify-between items-center mb-8">
                  <h3 class="font-heading text-6xl md:text-7xl leading-10 tracking-tight">Students</h3>
                  <div class="relative max-w-max">
                    <img class="w-14 h-14" src="uinel-assets/elements/pricing/circle2.svg" alt="">
                    <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-3xl md:text-6xl">I</span>
                  </div>
                </div>
                <div class="mb-14 flex items-center justify-between">
                  <div class="font-heading text-3xl flex items-center">
                    <span class="text-base mr-2 -mb-1">$</span>
                    <span>15.90</span>
                  </div>
                  <div class="bg-white rounded-8xl py-2 px-3 uppercase text-xs font-bold tracking-wider text-gray-300">20% off</div>
                </div>
                <h3 class="font-heading text-base tracking-tighter leading-5 mb-6">What's included</h3>
                <ul class="mb-14 xl:mb-36">
                  <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                    <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                    <span>Complete tools</span>
                  </li>
                  <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                    <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                    <span>10GB cloud storage</span>
                  </li>
                  <li class="flex items-start leading-6 font-normal text-darkBlueGray-400">
                    <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                    <span>Unlimited anonymous board editors</span>
                  </li>
                </ul>
              </div>
              <a class="block py-3 px-10 md:mx-auto w-full md:w-auto text-xl leading-7 text-white font-medium tracking-tighter font-heading text-center bg-purple-500 hover:bg-purple-600 focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50 rounded-xl" href="#">Let's go</a>
            </div>
            <div class="py-16 px-6 md:px-10 flex flex-col justify-between">
              <div>
                <div class="flex justify-between items-center mb-8">
                  <h3 class="font-heading text-6xl md:text-7xl leading-10 tracking-tight">Team</h3>
                  <div class="relative max-w-max">
                    <img class="w-14 h-14" src="uinel-assets/elements/pricing/circle3.svg" alt="">
                    <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-3xl md:text-6xl">Y</span>
                  </div>
                </div>
                <div class="font-heading text-3xl flex items-center mb-14">
                  <span class="text-base mr-2 -mb-1">$</span>
                  <span>29.90</span>
                </div>
                <h3 class="font-heading text-base tracking-tighter leading-5 mb-6">What's included</h3>
                <ul class="mb-14 xl:mb-36">
                  <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                    <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                    <span>Complete tools</span>
                  </li>
                  <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                    <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                    <span>35 plugins for Designers</span>
                  </li>
                  <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                    <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                    <span>200GB cloud storage</span>
                  </li>
                  <li class="flex items-start leading-6 font-normal text-darkBlueGray-400">
                    <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                    <span>100+ team members</span>
                  </li>
                </ul>
              </div>
              <a class="block py-3 px-10 md:mx-auto w-full md:w-auto text-xl leading-7 text-white font-medium tracking-tighter font-heading text-center bg-purple-500 hover:bg-purple-600 focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50 rounded-xl" href="#">Buy now</a>
            </div>
            <div class="bg-gray-50 py-16 px-6 md:px-10 flex flex-col justify-between">
              <div>
                <div class="flex justify-between items-center mb-8">
                  <h3 class="font-heading text-6xl md:text-7xl leading-10 tracking-tight">Business</h3>
                  <div class="relative max-w-max">
                    <img class="w-14 h-14" src="uinel-assets/elements/pricing/circle4.svg" alt="">
                    <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-3xl md:text-6xl">O</span>
                  </div>
                </div>
                <div class="font-heading text-3xl flex items-center mb-14">
                  <span class="text-base mr-2 -mb-1">$</span>
                  <span>44.90</span>
                </div>
                <h3 class="font-heading text-base tracking-tighter leading-5 mb-6">What's included</h3>
                <ul class="mb-14 xl:mb-36">
                  <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                    <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                    <span>Complete tools</span>
                  </li>
                  <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                    <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                    <span>35 plugins for Designers</span>
                  </li>
                  <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                    <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                    <span>500GB cloud storage</span>
                  </li>
                  <li class="flex items-start leading-6 font-normal text-darkBlueGray-400">
                    <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                    <span>200+ team members</span>
                  </li>
                </ul>
              </div>
              <a class="block py-3 px-10 md:mx-auto w-full md:w-auto text-xl leading-7 text-white font-medium tracking-tighter font-heading text-center bg-purple-500 hover:bg-purple-600 focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50 rounded-xl" href="#">Get started</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="js/charts-demo.js"></script>    
  </body>
</html>

