<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Page title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap">
    <link rel="stylesheet" href="css/tailwind/tailwind.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-tailwind.png">
    <script src="js/main.js"></script>
  </head>
  <body class="antialiased bg-body text-body font-body">
    <div class=""> 
    
      <section class="pb-24 xl:pb-0 bg-darkBlueGray-500">
        <div class="py-8 mx-10 mb-20 xl:mb-52 bg-white"></div>
        <div class="container px-4 mx-auto">
          <div class="relative xl:pb-52 text-center overflow-hidden">
            <img class="absolute top-0 bottom-0 h-full left-1/2 mt-20 transform -translate-x-1/2 object-contain" src="uinel-assets/images/sign-up/half-circle.svg" alt="">
            <div class="relative">
              <span class="inline-block py-3 px-7 mb-10 text-lg font-medium font-heading leading-5 text-indigo-500 border border-indigo-500 rounded-6xl">Create account</span>
              <div class="mb-14 xl:mb-16">
                <h2 class="text-9xl md:text-10xl xl:text-11xl text-white leading-tight font-heading font-medium">Start creating a design</h2>
              </div>
              <div class="max-w-md mx-auto">
                <input class="w-full mb-6 py-5 px-12 text-xl border-2 border-blue-500 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="email" placeholder="Your Email">
                <input class="w-full mb-6 py-5 px-12 text-xl border-2 border-blue-500 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="password" placeholder="Password">
                <input class="w-full mb-14 py-5 px-12 text-xl border-2 border-blue-500 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="password" placeholder="Confirm password">
                <div class="relative mb-14 flex justify-center items-center">
                  <a class="inline-block mr-4 -mt-5" href="#">
                    <img src="uinel-assets/images/sign-up/check.svg" alt="">
                  </a>
                  <input style="appearance: none;" type="checkbox">
                  <p class="text-gray-200">By singning up, you agree to our Terms, Data Policy and Cookies.</p>
                </div>
                <a class="block py-5 px-10 mx-auto w-full md:max-w-max text-xl leading-6 text-white font-medium tracking-tighter font-heading bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">Register now</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <section class="pb-24 xl:pb-32 overflow-hidden">
        <div class="relative pt-24 xl:pt-52 pb-64 lg:pb-80 bg-darkBlueGray-500 text-center rounded-b-10xl">
          <img class="absolute top-0 right-0 h-full -mr-64" src="uinel-assets/images/sign-up/half-circle.svg" alt="">
          <div class="container px-6 mx-auto">
            <span class="relative z-10 inline-block py-3 px-7 mb-8 text-lg font-medium font-heading leading-5 text-indigo-500 border border-indigo-500 rounded-6xl">Create account</span>
            <h2 class="mb-12 text-9xl md:text-10xl xl:text-11xl text-white leading-tight font-heading font-medium">Start creating a design</h2>
            <p class="text-xl text-gray-200">Sed porttitor turpis sit amet malesuada porta vivamus lobortis.</p>
          </div>
        </div>
        <div class="container px-6 mx-auto">
          <div class="relative max-w-4xl mx-auto">
            <img class="absolute top-0 left-0 max-w-xl -ml-12 -mt-8" src="uinel-assets/images/sign-up/color-circles.png" alt="">
            <div class="relative -mt-40 md:-mt-52 py-10 px-8 bg-white rounded-4xl shadow-lg">
              <div class="flex flex-wrap justify-center -mb-4 -mx-4">
                <div class="w-full md:w-auto px-4 mb-4">
                  <a class="flex items-center justify-center py-5 px-5 border-2 border-gray-50 hover:border-gray-100 rounded-xl" href="#">
                    <img class="w-6 h-6 mr-4" src="uinel-assets/images/sign-up/google.svg" alt="">
                    <p class="font-bold uppercase">Google</p>
                  </a>
                </div>
                <div class="w-full md:w-auto px-4 mb-4">
                  <a class="flex items-center justify-center py-5 px-5 border-2 border-gray-50 hover:border-gray-100 rounded-xl" href="#">
                    <img class="w-6 h-6 mr-4" src="uinel-assets/images/sign-up/facebook.svg" alt="">
                    <p class="font-bold uppercase">Facebook</p>
                  </a>
                </div>
                <div class="w-full md:w-auto px-4 mb-4">
                  <a class="flex items-center justify-center py-5 px-5 border-2 border-gray-50 hover:border-gray-100 rounded-xl" href="#">
                    <img class="w-6 h-6 mr-4" src="uinel-assets/images/sign-up/apple.svg" alt="">
                    <p class="font-bold uppercase">Apple</p>
                  </a>
                </div>
              </div>
              <div class="mt-10 py-16 px-6 border-2 border-gray-50 rounded-4xl">
                <div class="max-w-md mx-auto">
                  <input class="w-full mb-6 py-5 px-12 text-xl border-2 border-blue-400 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="email" placeholder="Your Email">
                  <input class="w-full mb-6 py-5 px-12 text-xl border-2 border-blue-400 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="password" placeholder="Password">
                  <input class="w-full mb-14 py-5 text-xl px-12 border-2 border-blue-400 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="password" placeholder="Confirm password">
                  <a class="block py-5 px-10 mx-auto w-full md:max-w-max text-xl leading-6 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">Register now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <section class="relative p-8 bg-blueGray-100 overflow-hidden">
        <img class="absolute top-0 left-0" src="uinel-assets/images/sign-up/color-circles2.png" alt="">
        <img class="absolute bottom-0 right-0" src="uinel-assets/images/sign-up/half-circle-purple.png" alt="">
        <div class="relative py-20 md:py-40 bg-white rounded-4xl">
          <div class="container px-4 mx-auto">
            <div class="flex flex-wrap -mx-4">
              <div class="w-full lg:w-1/2 px-4 mb-14 lg:mb-0">
                <div class="lg:max-w-md">
                  <span class="mb-11 block font-medium uppercase tracking-widest text-xs leading-4 text-gray-300">WOOOOPS</span>
                  <h2 class="mb-12 text-9xl md:text-10xl xl:text-11xl leading-tight font-heading font-medium">Register now</h2>
                  <p class="text-lg text-gray-400">Sed porttitor turpis sit amet malesuada porta vivamus lobortis.</p>
                </div>
              </div>
              <div class="w-full lg:w-1/2 px-4">
                <div class="flex flex-wrap justify-center -mb-4 -mx-4">
                  <div class="w-full md:w-auto px-4 mb-4">
                    <a class="flex items-center justify-center py-5 px-5 border-2 border-gray-50 hover:border-gray-100 rounded-xl" href="#">
                      <img class="w-6 h-6 mr-4" src="uinel-assets/images/sign-up/google.svg" alt="">
                      <p class="font-bold uppercase">Google</p>
                    </a>
                  </div>
                  <div class="w-full md:w-auto px-4 mb-4">
                    <a class="flex items-center justify-center py-5 px-5 border-2 border-gray-50 hover:border-gray-100 rounded-xl" href="#">
                      <img class="w-6 h-6 mr-4" src="uinel-assets/images/sign-up/apple.svg" alt="">
                      <p class="font-bold uppercase">Apple</p>
                    </a>
                  </div>
                  <div class="w-full md:w-auto px-4 mb-4">
                    <a class="flex items-center justify-center py-5 px-5 border-2 border-gray-50 hover:border-gray-100 rounded-xl" href="#">
                      <img class="w-6 h-6 mr-4" src="uinel-assets/images/sign-up/facebook.svg" alt="">
                      <p class="font-bold uppercase">Facebook</p>
                    </a>
                  </div>
                </div>
                <div class="mt-16 max-w-md mx-auto">
                  <h3 class="mb-8 text-xl text-gray-400">Sign up with Email</h3>
                  <input class="w-full mb-6 py-5 px-12 text-xl border-2 border-blue-400 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="email" placeholder="Your Email">
                  <input class="w-full mb-6 py-5 px-12 text-xl border-2 border-blue-400 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="password" placeholder="Password">
                  <input class="w-full mb-14 py-5 px-12 text-xl border-2 border-blue-400 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="password" placeholder="Confirm password">
                  <a class="block py-5 px-10 mx-auto w-full md:max-w-max text-xl leading-6 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">Register now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <section class="pb-24">
        <div class="pt-24 pb-64 xl:pt-52 lg:pb-80 bg-blueGray-100 text-center rounded-b-10xl">
          <div class="container px-4 mx-auto">
            <span class="inline-block py-3 px-7 mb-8 text-lg font-medium font-heading leading-5 text-indigo-500 border border-indigo-500 rounded-6xl">Create account</span>
            <h2 class="mb-12 text-9xl md:text-10xl xl:text-11xl leading-tight font-heading font-medium">Start creating a design</h2>
            <p class="text-xl text-gray-400">Sed porttitor turpis sit amet malesuada porta vivamus lobortis.</p>
          </div>
        </div>
        <div class="container px-4 mx-auto">
          <div class="-mt-52 max-w-4xl mx-auto py-10 px-8 bg-white rounded-4xl shadow-lg">
            <div class="flex flex-wrap justify-center -mb-4 -mx-4">
              <div class="w-full md:w-auto px-4 mb-4">
                <a class="flex items-center justify-center py-5 px-5 border-2 border-gray-50 hover:border-gray-100 rounded-xl" href="#">
                  <img class="w-6 h-6 mr-4" src="uinel-assets/images/sign-up/google.svg" alt="">
                  <p class="font-bold uppercase">Google</p>
                </a>
              </div>
              <div class="w-full md:w-auto px-4 mb-4">
                <a class="flex items-center justify-center py-5 px-5 border-2 border-gray-50 hover:border-gray-100 rounded-xl" href="#">
                  <img class="w-6 h-6 mr-4" src="uinel-assets/images/sign-up/apple.svg" alt="">
                  <p class="font-bold uppercase">Apple</p>
                </a>
              </div>
              <div class="w-full md:w-auto px-4 mb-4">
                <a class="flex items-center justify-center py-5 px-5 border-2 border-gray-50 hover:border-gray-100 rounded-xl" href="#">
                  <img class="w-6 h-6 mr-4" src="uinel-assets/images/sign-up/facebook.svg" alt="">
                  <p class="font-bold uppercase">Facebook</p>
                </a>
              </div>
            </div>
            <div class="mt-10 py-16 px-6 border-2 border-gray-50 rounded-4xl">
              <div class="max-w-md mx-auto">
                <input class="w-full mb-6 py-5 px-12 text-xl border-2 border-blue-400 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="email" placeholder="Your Email">
                <input class="w-full mb-6 py-5 px-12 text-xl border-2 border-blue-400 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="password" placeholder="Password">
                <input class="w-full mb-14 py-5 px-12 text-xl border-2 border-blue-400 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="password" placeholder="Confirm password">
                <a class="block py-5 px-10 mx-auto w-full md:max-w-max text-xl leading-6 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">Register now</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    
      <section class="pb-24 xl:pb-0 bg-darkBlueGray-500">
        <div class="py-8 mx-10 mb-20 xl:mb-52 bg-white"></div>
        <div class="container px-4 mx-auto">
          <div class="relative xl:pb-52 text-center overflow-hidden">
            <img class="absolute top-0 bottom-0 left-1/2 mt-32 transform -translate-x-1/2 object-contain" src="uinel-assets/images/sign-up/half-circle.svg" alt="">
            <div class="relative">
              <span class="inline-block py-3 px-7 mb-10 text-lg font-medium font-heading leading-5 text-indigo-500 border border-indigo-500 rounded-6xl">Create account</span>
              <div class="max-w-2xl mx-auto mb-14 xl:mb-28">
                <h2 class="text-9xl md:text-10xl xl:text-11xl text-white leading-tight font-heading font-medium">Start creating a design</h2>
              </div>
              <div class="max-w-md lg:max-w-7xl mx-auto mb-20">
                <div class="flex flex-wrap justify-center -mx-2">
                  <div class="w-full lg:w-3/12 px-2 mb-5 lg:mb-0">
                    <input class="w-full py-5 px-12 text-xl border-2 border-blue-500 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="email" placeholder="Your Email">
                  </div>
                  <div class="w-full lg:w-3/12 px-2 mb-5 lg:mb-0">
                    <input class="w-full py-5 px-12 text-xl border-2 border-blue-500 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="password" placeholder="Password">
                  </div>
                  <div class="w-full lg:w-3/12 px-2 mb-5 lg:mb-0">
                    <input class="w-full py-5 px-12 text-xl border-2 border-blue-500 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="password" placeholder="Confirm password">
                  </div>
                  <div class="w-full lg:w-auto px-2"><a class="block py-5 px-10 h-full w-full xl:w-auto text-xl text-white font-medium tracking-tighter font-heading bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">Register now</a></div>
                </div>
              </div>
              <div class="relative max-w-xl mx-auto">
                <div class="relative flex justify-center items-center">
                  <a class="inline-block mr-4" href="#">
                    <img src="uinel-assets/images/sign-up/check.svg" alt="">
                  </a>
                  <input style="appearance: none;" type="checkbox">
                  <p class="text-gray-200">By singning up, you agree to our Terms, Data Policy and Cookies.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="js/charts-demo.js"></script>    
  </body>
</html>

